.button-mode {
  width: 30px;
  height: 30px;
  border: none;

  &__light {
    background: url(../images/icon-moon.svg) no-repeat center;
  }

  &__dark {
    background: url(../images/icon-sun.svg) no-repeat center;
  }
}

#delete {
  border: none;
  background: url(../images/trash.svg) no-repeat center;
  background-size: 35px;
  width: 35px;
  height: 35px;
}