.header {

  text-align: right;
  
  &__date {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 600;
    color: $white;
    margin-top: 20px;
  }
  
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
  }
}

.todo {
  &__input {
    width: 100%;
    padding: 15px 25px;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 1.2rem;
  }

  &__input::placeholder {
    color: $light-text;
  }
}
