.body {
  position: relative;
  $bg-height: 45dvh;
  $min-bg-height: 350px;

  label {
    color: #fff;
  }

  &__light {
    background-color: #ebebeb;
  }

  &__light::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: $bg-height;
    min-height: $min-bg-height;
    background: url(../images/bg-desktop-light.jpg) no-repeat center;
    background-size: cover;
    z-index: -1;
  }

  &__dark {
    background-color: $dark-mode;


  }

  &__dark::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: $bg-height;
    min-height: $min-bg-height;
    background: url(../images/bg-desktop-dark.jpg) no-repeat center;
    background-size: cover;
    z-index: -1;
  }
}