$dark-mode:#181824;
$dark-border-text: #303145;  
$dark-text: #b1b2ca;
$gradient-blue: #667d97;
$gradient-purple: #667d97;

$light-mode: #fafafa;
$light-border-text: #e3e3e8;
$light-text: #48474c;

$blue: #637fbb;
$white: #fff;